## Практична робота №6

## З дисципліни "Інформаційні технології смарт-систем"

## Студента групи КН-305

## Кравчука Максима

## Побудова передбачень

In [1]:
import pickle
import pandas as pd
import numpy as np
from sklearn import metrics
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)

In [2]:
# custom files
import model_best_hyperparameters
import columns

In [3]:
# read train data
ds = pd.read_csv("../data/new_data.csv")
print('new data size', ds.shape)

new data size (3628, 20)

# feature engineering

In [4]:

def impute_na(df, variable, value):
    return df[variable].fillna(value)

In [5]:
# Let's create a dict and impute meвшan values
median_impute_values = dict()
for column in columns.median_impute_columns:
    median_impute_values[column] = ds[column].median()
    ds[column] = impute_na(ds, column, median_impute_values[column])

In [6]:
# Let's create a dict and impute mode values
mode_impute_values = dict()
for column in columns.mode_impute_columns:
    mode_impute_values[column] = ds[column].mode()[0]
    ds[column] = impute_na(ds, column, mode_impute_values[column])

In [7]:
for col in ds.columns:
    if ds[col].isnull().values.any():
        print("Missing data in ", col, ds[col].isnull().sum())
    else:
        print("There aren't missing data")

There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data
There aren't missing data

## Categorical encoding

In [8]:
# for one hot encoding with sklearn
from sklearn.preprocessing import OneHotEncoder

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [10]:
ds['booking_status'] = le.fit_transform(ds['booking_status'])

In [11]:
code_map = {'Room_Type 1': 1, 'Room_Type 2': 2, 'Room_Type 3': 3, 
            'Room_Type 4': 4, 'Room_Type 5': 5, 'Room_Type 6': 6, 'Room_Type 7': 7}
ds['room_type_encoded'] = ds['room_type_reserved'].map(code_map)

In [12]:
# Виконуємо one-hot encoding
dummies = pd.get_dummies(ds['market_segment_type'])
# Додаємо закодовані ознаки до початкового DataFrame
ds = pd.concat([ds, dummies], axis=1)

In [13]:
# Виконуємо one-hot encoding
dummies = pd.get_dummies(ds['type_of_meal_plan'])
# Додаємо закодовані ознаки до початкового DataFrame
ds = pd.concat([ds, dummies], axis=1)

## Видалення непотрібних стовпців

In [14]:
# Видалення непотрібних стовпців
columns_to_drop = ['Unnamed: 0', 'Booking_ID', 'arrival_year', 'arrival_month', 'arrival_date', 
                   'type_of_meal_plan', 'market_segment_type',  'room_type_reserved']
ds = ds.drop(columns_to_drop, axis=1)

In [15]:
ds.head()

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status,room_type_encoded,Aviation,Complementary,Corporate,Offline,Online,Meal Plan 1,Meal Plan 2,Meal Plan 3,Not Selected
0,3.0,0.0,2.0,1.0,0.0,145.0,0.0,0.0,0.0,138.50,1.0,1,1,0,0,0,1,0,0,1,0,0
1,2.0,0.0,1.0,3.0,0.0,245.0,0.0,0.0,0.0,145.80,1.0,1,1,0,0,0,0,1,1,0,0,0
2,2.0,0.0,2.0,2.0,0.0,12.0,0.0,0.0,0.0,131.50,3.0,1,1,0,0,0,0,1,0,0,0,1
3,3.0,0.0,2.0,1.0,0.0,128.0,0.0,0.0,0.0,123.30,1.0,0,4,0,0,0,0,1,1,0,0,0
4,0.0,2.0,2.0,2.0,0.0,65.0,0.0,0.0,0.0,65.66,0.0,0,2,0,0,0,0,1,1,0,0,0

In [16]:
# Define features columns
X = ds[columns.X_columns]

In [17]:
# load the model and predict
rf = pickle.load(open('finalized_model.sav', 'rb'))

In [18]:
y_pred = rf.predict(X)

In [19]:
ds['booking_status_pred'] = rf.predict(X)
ds.to_csv('prediction_results.csv', index=False)

In [20]:
ds.head(10)

,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,required_car_parking_space,lead_time,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status,room_type_encoded,Aviation,Complementary,Corporate,Offline,Online,Meal Plan 1,Meal Plan 2,Meal Plan 3,Not Selected,booking_status_pred
0,3.0,0.0,2.0,1.0,0.0,145.0,0.0,0.0,0.0,138.50,1.0,1,1,0,0,0,1,0,0,1,0,0,1
1,2.0,0.0,1.0,3.0,0.0,245.0,0.0,0.0,0.0,145.80,1.0,1,1,0,0,0,0,1,1,0,0,0,0
2,2.0,0.0,2.0,2.0,0.0,12.0,0.0,0.0,0.0,131.50,3.0,1,1,0,0,0,0,1,0,0,0,1,1
3,3.0,0.0,2.0,1.0,0.0,128.0,0.0,0.0,0.0,123.30,1.0,0,4,0,0,0,0,1,1,0,0,0,0
4,0.0,2.0,2.0,2.0,0.0,65.0,0.0,0.0,0.0,65.66,0.0,0,2,0,0,0,0,1,1,0,0,0,0
5,2.0,0.0,2.0,4.0,0.0,9.0,0.0,0.0,0.0,100.00,0.0,1,1,0,0,0,0,1,0,0,0,1,1
6,1.0,0.0,1.0,2.0,0.0,0.0,1.0,0.0,1.0,65.00,0.0,1,1,0,0,1,0,0,1,0,0,0,1
7,2.0,0.0,1.0,3.0,0.0,49.0,0.0,0.0,0.0,67.32,0.0,1,1,0,0,0,1,0,1,0,0,0,1
8,2.0,0.0,1.0,2.0,0.0,161.0,0.0,0.0,0.0,130.00,0.0,0,1,0,0,0,1,0,0,1,0,0,0
9,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,129.00,0.0,1,1,0,0,0,0,1,1,0,0,0,1